<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.h_item.mapper.ResultMapper">

    <resultMap id="BaseResultMap" type="com.example.h_item.model.po.ResultPO" >
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="academy_id" property="academyId" />
        <result column="pro_name" property="proName" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="result_type" property="resultType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
                user_id,
                academy_id,
                pro_name,
                remark,
                status,
                result_type,
                create_time,
                update_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="com.example.h_item.model.po.ResultPO">
        INSERT INTO result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != userId ">
                user_id,
            </if>
            <if test="null != academyId ">
                academy_id,
            </if>
            <if test="null != proName and '' != proName">
                pro_name,
            </if>
            <if test="null != remark and '' != remark">
                remark,
            </if>
            <if test="null != status and '' != status">
                status,
            </if>
            <if test="null != resultType and '' != resultType">
                result_type,
            </if>
            <if test="null != createTime ">
                create_time,
            </if>
            <if test="null != updateTime ">
                update_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != userId ">
                #{userId},
            </if>
            <if test="null != academyId ">
                #{academyId},
            </if>
            <if test="null != proName and '' != proName">
                #{proName},
            </if>
            <if test="null != remark and '' != remark">
                #{remark},
            </if>
            <if test="null != status and '' != status">
                #{status},
            </if>
            <if test="null != resultType and '' != resultType">
                #{resultType},
            </if>
            <if test="null != createTime ">
                #{createTime},
            </if>
            <if test="null != updateTime ">
                #{updateTime}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM result
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.example.h_item.model.po.ResultPO">
        UPDATE result
        <set>
            <if test="null != userId ">user_id = #{userId},</if>
            <if test="null != academyId ">academy_id = #{academyId},</if>
            <if test="null != proName and '' != proName">pro_name = #{proName},</if>
            <if test="null != remark and '' != remark">remark = #{remark},</if>
            <if test="null != status and '' != status">status = #{status},</if>
            <if test="null != resultType and '' != resultType">result_type = #{resultType},</if>
            <if test="null != createTime ">create_time = #{createTime},</if>
            <if test="null != updateTime ">update_time = #{updateTime}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="queryById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM result
        WHERE id = #{id}
    </select>

    <select id="queryPager" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM result
        <where>
            <if test="likeProName != null and likeProName != ''">
                and `pro_name` like concat('%',#{likeProName},'%')
            </if>
            <if test="resultType != null and resultType != ''">
                and `result_type` = #{resultType}
            </if>
            <if test="status != null and status != ''">
                and `status` = #{status}
            </if>
            <if test="academyId != null">
                and `academy_id` = #{academyId}
            </if>
        </where>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="count" resultType="int">
        SELECT count(1)
        FROM result
        <where>
            <if test="likeProName != null and likeProName != ''">
                and `pro_name` like concat('%',#{likeProName},'%')
            </if>
            <if test="resultType != null and resultType != ''">
                and `result_type` = #{resultType}
            </if>
            <if test="status != null and status != ''">
                and `status` = #{status}
            </if>
            <if test="academyId != null">
                and `academy_id` = #{academyId}
            </if>
        </where>
    </select>


    <select id="queryAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM result
        <where>
            <if test="likeProName != null and likeProName != ''">
                and `pro_name` like concat('%',#{likeProName},'%')
            </if>
            <if test="resultType != null and resultType != ''">
                and `result_type` = #{resultType}
            </if>
            <if test="status != null and status != ''">
                and `status` = #{status}
            </if>
            <if test="startTime != null">
                and `create_time` >= #{startTime}
            </if>
            <if test="endTime != null">
                and `create_time` &lt;= #{endTime}
            </if>
        </where>
    </select>
</mapper>