<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.h_item.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.h_item.model.po.UserPO" >
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="role_id" property="roleId" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="img" property="img" />
        <result column="academy_id" property="academyId" />
        <result column="educational" property="educational" />
        <result column="major" property="major" />
        <result column="phone" property="phone" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
                username,
                password,
                role_id,
                sex,
                birthday,
                img,
                academy_id,
                educational,
                major,
                phone,
                remark,
                create_time,
                update_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.example.h_item.model.po.UserPO">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != username and '' != username">
                username,
            </if>
            <if test="null != password and '' != password">
                password,
            </if>
            <if test="null != roleId ">
                role_id,
            </if>
            <if test="null != sex and '' != sex">
                sex,
            </if>
            <if test="null != birthday ">
                birthday,
            </if>
            <if test="null != img and '' != img">
                img,
            </if>
            <if test="null != academyId ">
                academy_id,
            </if>
            <if test="null != educational and '' != educational">
                educational,
            </if>
            <if test="null != major and '' != major">
                major,
            </if>
            <if test="null != phone and '' != phone">
                phone,
            </if>
            <if test="null != remark and '' != remark">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != username and '' != username">
                #{username},
            </if>
            <if test="null != password and '' != password">
                #{password},
            </if>
            <if test="null != roleId ">
                #{roleId},
            </if>
            <if test="null != sex and '' != sex">
                #{sex},
            </if>
            <if test="null != birthday ">
                #{birthday},
            </if>
            <if test="null != img and '' != img">
                #{img},
            </if>
            <if test="null != academyId ">
                #{academyId},
            </if>
            <if test="null != educational and '' != educational">
                #{educational},
            </if>
            <if test="null != major and '' != major">
                #{major},
            </if>
            <if test="null != phone and '' != phone">
                #{phone},
            </if>
            <if test="null != remark and '' != remark">
                #{remark},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.example.h_item.model.po.UserPO">
        UPDATE user
        <set>
            <if test="null != username and '' != username">username = #{username},</if>
            <if test="null != password and '' != password">password = #{password},</if>
            <if test="null != roleId ">role_id = #{roleId},</if>
            <if test="null != sex and '' != sex">sex = #{sex},</if>
            <if test="null != birthday ">birthday = #{birthday},</if>
            <if test="null != img and '' != img">img = #{img},</if>
            <if test="null != academyId ">academy_id = #{academyId},</if>
            <if test="null != educational and '' != educational">educational = #{educational},</if>
            <if test="null != major and '' != major">major = #{major},</if>
            <if test="null != phone and '' != phone">phone = #{phone},</if>
            <if test="null != remark and '' != remark">remark = #{remark},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user
        WHERE id = #{id}
    </select>

    <select id="delete" resultMap="BaseResultMap">
        delete
        FROM user
        WHERE id = #{id}
    </select>

    <select id="queryByUsername" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user
        WHERE `username` = #{username}
    </select>


    <select id="query" resultMap="BaseResultMap" parameterType="com.example.h_item.model.req.UserReq">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        <where>
            <if test="likeUsername != null and likeUsername != ''">
                and `username` like concat('%',#{likeUsername},'%')
            </if>
        </where>
        order by id desc  LIMIT #{offset}, #{limit}
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT count(1)
        FROM user
        <where>
            <if test="likeUsername != null and likeUsername != ''">
                and `username` like concat('%',#{likeUsername},'%')
            </if>
        </where>
    </select>

</mapper>